<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--setter injection-->
    <bean class="org.example.Student" name = "student1">
        <property name="id">
            <value>2</value>
        </property>
       <property name="name">
           <value>Ashu</value>
       </property>
        <property name="email">
            <value>ashu@gmail.com</value>
        </property>

    </bean>
    <!--using value as attribue and p schema -->
    <bean class = "org.example.Student" name ="student">
        <property name="id" value="1"></property>
        <property name="name" value="Sheetal"></property>
        <property name="email" value="sheetal@email.com"></property>
    </bean>

    <bean class="org.example.Student" name="student2" p:id="3" p:name="Seenu" p:email="seenu@gmail.com"></bean>

    <!--Collection Type -->
    <bean class="org.example.Employee" name="employee">
        <property name="name" value="Sheetal"></property>
        <property name="phone">
            <list>
                <value>12345</value>
                <value>34567</value>
            </list>
        </property>
        <property name="address">
            <set>
                <value>Pune</value>
                <value>Mumbai</value>
            </set>
        </property>
        <property name="department">
            <map>
                <entry key="IT" value="IT"></entry>
            </map>
        </property>
    </bean>

    <!--Ref Type -->
    <bean class="org.example.Address" name="address">
        <property name="city" value="Pune"></property>
        <property name="country" value="India"></property>
    </bean>
    <bean class="org.example.Customer" name="customer">
        <property name="name" value="Sheetal"></property>
        <property name="custId" value="123"></property>
        <property name="address" ref="address"></property>
    </bean>

    <!--constructor injection-->
    <bean class="org.example.Users" name="user">
        <constructor-arg name="id" value="11"></constructor-arg>
        <constructor-arg name="name" value="Reyansh"></constructor-arg>
    </bean>

    <!--constructor injection: ref type-->
    <bean class="org.example.Category" name="category">
        <constructor-arg name="cId" value="1123"></constructor-arg>
        <constructor-arg name="cName" value="steel"></constructor-arg>
    </bean>

    <bean class="org.example.Product" name="product">
        <constructor-arg name="pId" value="11232"></constructor-arg>
        <constructor-arg name="pName" value="Car"></constructor-arg>
        <constructor-arg name="category" ref="category"></constructor-arg>
    </bean>

    <!--constructor injection: ambiguity issue-->
    <bean class="org.example.Calculator" name="calculator">
        <constructor-arg name="a" value="100" type="int"></constructor-arg>
        <constructor-arg name="b" value="200" type="int"></constructor-arg>
    </bean>
</beans>